body{
    background-color: #EDDDD0;;
}

h1{
    color: #334259;

}

p{
    color: #334259;
}
nav{
    background-color: #A6CAD4;
    text-align: center;
    list-style-type: none;
}
.heading{
    font-family: Montserrat,sans-serif;

}