body{
    background-color: #EDDDD0;;
}

h1{
    color: #334259;
    text-align: center;

}
div.box{
    display:grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr ;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
}

p{
    color: #334259;
}
nav{
    background-color: #A6CAD4;
    text-align: center;
    list-style-type: none;
}
.heading{
    font-family: Montserrat,sans-serif;

}